@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Volkhov:700i');

.recipeHeader{
    text-align: center;
}
.recipeName{
    font-family: 'Volkhov', serif;
    font-size: 30px;   
}
.infoMinutos{
    margin: 0 0 0 15px;
}
.infoDificultad{
    margin: 0 0 0 100px;
}
.infoDescripcion{
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
#hr2{
    margin: 50px 0 0 0;
    z-index: -1;
}
.infoUser{
    text-align: center;
    margin: -35px 0 0 0
}
.imageUserInfo{
    max-width: 20%;
}
.infoUserName{
    margin-top: 10px;
    margin-bottom: 30px;
}
.infoPorciones{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    display: table-caption;
    padding: 0 0px 0px 115px;
}
.infoPreparacion{
    font-family: 'Maven Pro', sans-serif;
    display: inline-block;
    text-align: center;
}
.areaPreparacion{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}
.commentArea{
    text-align: center;
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 12px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0 30px 115px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }