@import url("https://fonts.googleapis.com/css?family=Lobster");

.formRecipe{
    text-align: center !important;

}
.formRecipeHeader{
    background-color: black !important;
    background-image: url("http://verduras.consumer.es/sites/default/files/imagenes_seccion/2/consejos-vegetales.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 90vw;
}
.formRecipeHeader h1{
    padding-top: 20px;
    color: white !important;
    font-family: Lobster;
}
.areaImages {
    text-align: center;
    max-width: 80%;
    padding: 10px 0 0 0;
    background-color: rgba(70,10,0,0.7);
  }
  #imageArea {
    max-width: 25%;
  }
  #uploadImages {
    color: white;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
    margin: 0px 0px 0 -2px;
  }
  .uploadText{
    padding: 5px 0 15px 0px;
    color: white;
  }
  .inputName{
    font-size: 20px;
    border: 1px solid black;
    margin: 14px 0 0 0;
    width: 80%;
    text-align: center;
  }
  .areaInputTime{
    text-align: center;
    margin: 10px 0 0 0;
  }
  .inputTime{
      margin: 0 40% 0 5px;
      width: 40px;
      border: 1px solid black;
  }
  .inputDificultad{
    border: 1px solid black;
    margin: 0 0 0 5px;
    width: 60px;
  }
  #hr {
    margin: 40px 0 0 0;
    z-index: -1;
  }
  .imageUser{
    margin: -41px 0 0px 0;
  }
  #imageUser{
    max-width: 20%;
    height: auto;
    margin: 0 0 -15px 0;
  }
  .ingredientes{
    font-family: Lobster;
    font-size: 20px;
    float: left;
    padding: 0 0 0 15px;
  }
  .inputPorciones{
    border: 1px solid black;
    width: 60px;
    margin: 0 0px 0 36vw;
  }
  #buttonRecipe{
    margin: 15px 0 0 0;
  }