@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Volkhov:700i');

.areaSearch{
    background-image: url("https://image.freepik.com/vector-gratis/tres-utensilios-cocina-madera-grafico_53876-9109.jpg");
    background-size: cover;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: 50vw;
    box-shadow: 5px 5px 50px 1px;
}
.areaSearch input{
    background-image: url("https://www.freeiconspng.com/uploads/search-icon-png-4.png");
    background-size: 23px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .areaSearch input[type=text]:focus {
    width: 100%;
  }
  .lemaSearch{
    margin: 0 0 10px 0 !important;
    padding: 35px 0 0 0;
    font-family: 'Roboto Mono', monospace;
  }
  .texto{
      text-align: center;
      width: 100%;
      margin: 40px 0 0 0px;
      font-size: 17.5px;
      font-family: 'Maven Pro', sans-serif;
  }
  .frase{
      color: red;
      ont-family: 'Roboto Mono', monospace;
  }