@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.perfilPortadaImage{
    background-color: #16425b;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/61/31/0557a7322b6c277.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 70vw;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    z-index: -1;
}
.perfilImage{
    max-width: 35% !important;
    margin-top: 25px;
    border-radius: 100%;
}
.perfilName{
    color: #fff !important;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.perfilInfo{
    border-bottom: 1px solid #cbf4f7;
}
.perfilReceta{
    text-align: center;
    margin-top: 25px;
}
.perfilReceta strong{
    font-size: 30px;
    font-family: Lobster;
}
ul div{
    text-align: center;
}
.listaRecta{
    overflow: scroll;
}
.listIcon{
    float: right;
    color: black;
}
/* .svg-inline--fa.fa-w-16{
    width: 3em;
} */
.subirReceta{
    text-align: center;
    margin-top: 40px;
}
.botonReceta{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #cbcbcb;
    background-color: white;
    font-family: 'Major Mono Display', monospace;
}
.editUser{
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/*   ////////////////////////////  */

.container {
    position: relative;
    width: 100%;
  }

 .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 24.5%;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 48px 17px 0px 22px;
    text-align: center;
    left: 101px;
    top: 24px;
    border-radius: 100%;
}
.container:hover .overlay {
    opacity: 1;
  }
#upload{
    display: none;
}
#upload_link{
    text-decoration: none;
    color: white;
}
#iconLapiz{
    margin: 0 0 0 20px;
}
@media screen and (min-width: 375px) {
 .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 24.5%;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 48px 17px 0px 22px;
    text-align: center;
    left: 122px;
    top: 24px;
    border-radius: 100%;
}
}
@media screen and (min-width: 425px) {
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 25.8%;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 48px 17px 0px 22px;
        text-align: center;
        left: 138px;
        top: 24px;
        border-radius: 100%;
    }
}
@media screen and (min-width: 460px) {
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 26.9%;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 48px 17px 0px 22px;
        text-align: center;
        left: 149px;
        top: 24px;
        border-radius: 100%;
    }
}
@media screen and (min-width: 768px) {
    .botonReceta{
        border: 1px solid black;
        width: 100%;
        height: 60px;
        font-size: 20px;
        margin:  0 0 30px 0;
        color: #cbcbcb;
        background-color: white;
        font-family: 'Major Mono Display', monospace;
    }   
}